.privatekey {
    margin: 300px;
    text-align: center;

}
.Privatekey_css{
    width: 70%;
    margin: 10px;
    height: 50px;
}

.btn-size{
    position: relative;
    width : 70%;
    margin : 10px;
}

.createKeyH {
    font-family: JUA;
    color: black;
}