.NFTminting_css {
    width: 50%;
    margin: 10px;
    height: 50px;
}

.NFTminting {
    text-align: center;
    left: 25%;
}

.Certificate__upload {
    width: 17%;
    margin: 10px;
    height: 60px;
}

.Board_css{
    text-align: center;
    margin: 0;
    margin-top: 30px;
    margin-left: 30px;
    padding: 0;
    width : 50%;
    float: left;
}

.mint {
    font-family: JUA;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    width : 45%;
    float: left;
    text-align: center;
}

.mint h2 {
    color: #cb2b2b;
}

.mint p {
    text-align: left;
    margin-left: 180px;
    color: #d17676;
    margin-bottom: 5px;
    margin-top: 10px;
}

.typeCheck {
    width : 100%;
}

.typeCheck label {
    width: 90px;
}