.NFTminting_css {
    width: 70%;
    margin: 10px;
    height: 50px;
}

.NFTminting {
    margin: 100px;
    text-align: center;
}

.Certificate__upload {
    width: 17%;
    margin: 10px;
    height: 60px;
}