.header {
    position:fixed;
    top: 3%;
    width : 100%;
}

.headerIcon {
    position : relative;
    float: left;
    width : 200px;
    margin : 20px;
    margin-left : 50px;
}

.headerLogo {
    position : absolute;
    top : 40%;
    margin-left: 20px;
}

.headerName {
    float: right;
    margin-right: 20px;
    color:deeppink;
}

  
.header-box {
    position : absolute;
    margin-top : 20px;
    float: left;
    left : 60%;
}

@media (max-width: 1200px) {
    .header-box {
        left: 30%;
    }

    .main-btn {
        margin: 10px;
    }
}