section {
    width: 100vw;
    height: 100vh;
    position : relative;
    perspective: 600px;
}

.card {
    position : absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    transition: all 1s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: translate(-50%, -50%) rotateY(180deg);
}
.card > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
}

.card .front {
    background-color:cornflowerblue;
    z-index: 9999;
}

.card .back {
    background-color: blue;
    transform: rotateY(180deg);
}

.submain-btn {
    position : absolute;
    top : 70%;
    left : 50%;
}