@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/*
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}*/

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.iconBox {
  position : fixed;
  left: 0;
  right: 0;
  margin-top : 100px;
  text-align: center;
}


.num {
  font-weight: bolder;
  font-size:xx-large;
}

.mainLogo {
  margin-top: 20px;
  width : 200px;
  height : 100px;
}

.mainBox {
  position : absolute;
  margin-top : 360px;
  width : 100%;
}


.slogan {
  text-align : center;
  position : relative;
  margin: 20px;
  float: left;
  top : 90%;
  left : 20%;
}

.btn-box {
  float: right;
  right: 20%;
  position : relative;
  margin-top : 60px;
}

.main-btn {
  margin: 15px;
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  color: black;
}

.main-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  letter-spacing: 2px;
}

.main-btn:active {
  transform: scale(1.5);
}
