@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");


/*
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}*/


.img {
  width: 100%;
  z-index: -100;
  position: absolute;
}

.mainIMG {
  margin-top: 65px;
  width: 100%;
}


.slogan {
  font-family: JUA;
  text-align: center;
  margin-bottom: 100px;
}

.slogan h1 {
  font-family: JUA;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
}

.slogan h2 {
  font-family: JUA;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  color: #CB2B2B;
}

.slogan h3 {
  font-size: 15px;
  color: black;
  display: inline;
}

.btn-box {
  text-align: center
}

.main-btn {
  margin: 15px;
  width: 150px;
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: JUA;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  color: white;
  background-color: #CB2B2B;
  white-space: pre-wrap;

}

.main-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  letter-spacing: 2px;
}

.main-btn:active {
  transform: scale(1.5);
}
