.Inquiry_walletaddress {
    width: 50%;
    margin: 5px;
    height: 50px;
}

.Inquiry_password {
    width: 50%;
    margin: 5px;
    height: 50px;
}

.UploadPhoto__upload {
    width: 100%;
    margin: 5px;
    height: 50px;
    
}

.body {
    display: block;
}

.Board_css {
    margin: 0;
    margin-top: 30px;
    margin-left: 30px;
    padding: 0;
    width : 50%;
    float: left;
}

.Inquiry {
    font-family: JUA;
    color: #cb2b2b;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    width : 45%;
    float: left;
    text-align: center;
}

.Inquiry p {
    text-align: left;
    margin-left: 180px;
    color: #d17676
}

.UploadPhoto__upload{
    width: 15%;
    margin: 10px;
    height: 60px;
}