.tableLocation {
    position : absolute;
    margin-top : 200px;
    width : 700px;
    float: left;
    left : 30%;
}

.communityBox{
    background-color:rgb(255, 205, 205);
    border-radius: 20px;
    position: absolute;
    width: 170px;
    left: 5%;
    top: 30%;
    text-align: center;
}