.wrap {
    top: 50%;
    width: 100%;
    height: 100%;
    position: relative;
}

.space {
    height: 150px;
}

.Write {
    font-family: JUA;
    width: 98%;
    margin: 10px;
}

.write-title {
    font-family: JUA;
    width: 100%;
    margin-top: 10px;
}

.write-content {
    font-family: JUA;
    width: 100%;
    margin-top: 10px;
    height: 200px;
    
}

